<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} - %-5p [%t:%C{3.}@%L] - %X - %m%n"/>
    </Console>
    <File name="KISS" filename="build/kiss.log">
      <PatternLayout>
        <pattern>%d %m%n</pattern>
      </PatternLayout>
    </File>
    <RollingRandomAccessFile name="RollingFile" fileName="build/app.log" filePattern="build/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <pattern>%d{ISO8601} - %-5p [%t:%C{3}@%L] - %X - %m%n</pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/> <!-- Rotated everyday -->
        <SizeBasedTriggeringPolicy size="100MB"/> <!-- Rotated every 100 MB -->
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingRandomAccessFile>

  </Appenders>
  <Loggers>
    <Root level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
    <Logger name="net.tarpn.frame.impl.KISSFrameReader" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="net.tarpn.frame.impl.KISSFrameWriter" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="net.tarpn.frame.impl.KISSFrameReader" level="DEBUG" additivity="false">
      <AppenderRef ref="KISS"/>
    </Logger>
    <Logger name="net.tarpn.frame.impl.KISSFrameWriter" level="DEBUG" additivity="false">
      <AppenderRef ref="KISS"/>
    </Logger>
  </Loggers>
</Configuration>
